<div class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h2 class="page-heading">会場投稿編集</h2>
      <%= render partial: "form", locals: { venue: @venue } %>
    </div>
  </div>
</div>
<% breadcrumb :edit_venue %>