<main class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h1 class="page-heading">ライヴ会場キャッシュレス対応情報</h1><br />
      <% if user_signed_in? %>
        <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.user_name}さん", user_path(current_user), class: :greeting__link %>
        </div>
      <% end %>
    </div>
      <%= render partial: 'venue', collection: @venue %>
  </div>
</main>