/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}


/* ヘッダー */

.header {
  background-color: #000000;
  margin-bottom: 100px;
  padding: 20px;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__title a {
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
}

.nav__logo {
  padding: 5px;
  color: #fff;
  font-family: 'Playfair Display', serif;
  border: 1px #1100ff;
  border-radius: 5px;
  transition: 0.4s ease;
}

.nav__logo:hover{
  background: #1100ff;
}

.nav__btn{
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px #1100ff;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  background: #1100ff;
}

/* メイン */
/* index */

.form-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 161px);
  text-align: center;
}

.greeting{
  margin-bottom: 20px;
}

.greeting__link{
  text-decoration: underline;
}

.page-heading {
  font-size: 30px;
  margin-bottom: 18px;
  text-align: center;
}

/* メイン */
/* new */

.page-heading{
  text-align: center;
}

.field{
  margin: 12px
}

/* メイン */
/* _venue */

.space {
  text-align: center;
}

.space__title {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* メイン */
/* 詳細ページ */
.detail__wrapper{
  min-height: calc(100vh - 161px);
}

.detail__hedding{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.detail__prefecture{
  display: block;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 10px;
}

.detail__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.detail__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.detail__comments{
  padding: 20px;
  margin: 25px;
}

.detail__field{
  padding: 20px;
  text-align: center;
}

.detail__cashless{
  font-size: 24px;
}

.detail__at{
  font-size: 16px;
}

.comments_lists{
  margin: 100px;
}

.comments_list {
  text-align: center;
  list-style: none;
  background-color: #f6f6f6;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* メディアクエリを使用して、スマートフォンの画面幅に対して調整 */
@media (min-width: 768px) {
  .comments_list {
    width: 50%;
  }
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.actions{
  text-align: center;
}

.nav__btn2{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #1100ff;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn2:hover{
  color: #fff;
  background: #1100ff;
}

/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}